@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Bree Serif", serif;
  font-family: "Raleway", sans-serif;
}

.first {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
}

.first-div {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 180px;
}

.first-div h1 {
  padding: 20px;
}
.first-second-div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
}

.about {
  text-align: center;
  padding: 30px;
}

.services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  text-align: center;
  color: #ffffff;
  padding-top: 7%;
}

.what-we-do {
  text-align: center;
  padding-top: 20px; 
}
.what-we-do .col {
  padding: 60px;
}

#what-1,
#what-2,
#what-3 {
  text-align: center;
}

#description1,
#description2,
#description3 {
  display: none;
}

.portfolio {
  text-align: center;
}

.portfolio img {
  width: 100%;
  padding: 20px;
}

#mc_embed_signup {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

form input,
#mce-MMERGE2 {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
}

#mce-NAME,
#mce-EMAIL {
  width: 70% !important;
}

#mce-MMERGE2 {
  height: 300px;
  width: 60% !important;
  margin: auto;
}
.icons {
  padding: 30px;
}

#hoverdiv {
  display: none;
  background: #fff;
  position: absolute;
  font-size: 18px;
  color: black;
  border: 1px solid gray;
  padding: 10px;
}
