*{
  margin: 0px;
  padding: 0px;
}
.first{
  background-image:url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
}

.first-div{
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 180px;
}

.first-div h1{
  padding: 20px;
}
.first-second-div{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
}

.about{
  text-align: center;
  padding: 30px;
}

.services{
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  text-align: center;
  color: #ffffff;
  padding-top: 7%;

}

.what-we-do{
  text-align: center;
  padding: 55px;
}

.what-we-do-div{
  display: flex;
  justify-content: space-between;
}

.what-text{
  display: flex;
  justify-content: space-between;
}

.contacts{
  background-image: url("../assets/backgrounds/c_image.jpg");
}
.icons{
  padding: 30px;
}
